.pure-g {
    letter-spacing: normal;
}

a, body, button, div, fieldset, figure, footer, form, h1, 
h2, h3, h4, h5, h6, header, html, img, input, legend, li, main, ol, p, select, span, textarea, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}